
:root {
    --metar-text: black;
    --metar-bg: #fff;
    --metar-border: 2px solid #dadada;
}
  
.dark {
    --metar-text: #ccc;
    --metar-bg: #000;
    --metar-border: 2px solid #0c2740;
}

.metar {
    position: fixed;
    bottom: 0;
    left: 85px;
    right: 0;
    height: 70px;
    margin-right: 2px;
    margin-bottom: 2px;
    border: var(--page-border);
    font-family: var(--font-avimet);
    color: var(--metar-text);
    font-size: 1.1rem;
    border-radius: 6px;
    border-width: 2px;
    background: var(--bg-pattern-color);
}

.metar-bg {
    background-color: var(--metar-bg);
    border: var(--metar-border);
    margin: 2px 4px 2px 4px;
    height: 60px;
    padding: 1px 4px;
}